<a href="https://colab.research.google.com/github/Avinashvns/pandas_practice/blob/main/Pandas_Practice/Data_Selection_loc_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üéØ Goal of Day 2

    ‚úÖ Column select ‡§ï‡§∞‡§®‡§æ
    ‚úÖ Row select ‡§ï‡§∞‡§®‡§æ
    ‚úÖ loc vs iloc difference
    ‚úÖ Real-world slicing

# Columns Selection

In [4]:
import pandas as pd

df=pd.DataFrame({
    "Name": ["Ali", "Rohit", "Neha"],
    "Marks": [85, 90, 78],
    "City": ["Delhi", "Mumbai", "Pune"]
})

df['Name']

0      Ali
1    Rohit
2     Neha
Name: Name, dtype: object

## Multiple Columns

In [5]:
df[["Name" , "Marks"]]

    Name  Marks
0    Ali     85
1  Rohit     90
2   Neha     78

# Row Selection

    Pandas me rows select karne ‡§ï‡•á 2 pro ‡§§‡§∞‡•Ä‡§ï‡•á ‡§π‡•à‡§Ç:

üî• loc vs iloc (Very Important)
‚úÖ loc ‚Üí Label based selection

In [8]:
df.loc[0]

Name       Ali
Marks       85
City     Delhi
Name: 0, dtype: object

## Specific cell:

In [9]:
df.loc[0, "Marks"]

np.int64(85)

# ‚úÖ iloc ‚Üí Index based selection

In [10]:
df.iloc[1]

Name      Rohit
Marks        90
City     Mumbai
Name: 1, dtype: object

## Specific cell:

In [11]:
df.iloc[1,1]

np.int64(90)

# loc and iloc Practice Set

In [12]:
import pandas as pd

df=pd.DataFrame({
    "Name": ["Ali", "Rohit", "Neha", "Amit", "Sara"],
    "Age": [21, 25, 20, 23, 22],
    "Marks": [85, 90, 78, 88, 95],
    "City": ["Delhi", "Mumbai", "Pune", "Delhi", "Mumbai"]
})

df

    Name  Age  Marks    City
0    Ali   21     85   Delhi
1  Rohit   25     90  Mumbai
2   Neha   20     78    Pune
3   Amit   23     88   Delhi
4   Sara   22     95  Mumbai

In [15]:
df.loc[0,'Marks']

np.int64(85)

In [16]:
df.iloc[4,3]

'Mumbai'

In [18]:
df.iloc[0]

Name       Ali
Age         21
Marks       85
City     Delhi
Name: 0, dtype: object

In [19]:
df.loc[4]

Name       Sara
Age          22
Marks        95
City     Mumbai
Name: 4, dtype: object

In [22]:
# Row label 3 ‡§∏‡•á ‡§∏‡§ø‡§∞‡•ç‡§´ Name ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã

df.loc[3,'Name']

'Amit'

In [23]:
df.iloc[3,0]

'Amit'

# Row position 2 ‡§∏‡•á Marks ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã

In [24]:
df.iloc[2,2]

np.int64(78)

# Only Name ‡§î‡§∞ Marks columns ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã (all rows)

In [25]:
df.loc[:,["Name","Marks"]]

    Name  Marks
0    Ali     85
1  Rohit     90
2   Neha     78
3   Amit     88
4   Sara     95

# Only first 3 students ‡§ï‡§æ data ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã

In [26]:
df.head(3)

    Name  Age  Marks    City
0    Ali   21     85   Delhi
1  Rohit   25     90  Mumbai
2   Neha   20     78    Pune

In [27]:
df.iloc[0:3]

    Name  Age  Marks    City
0    Ali   21     85   Delhi
1  Rohit   25     90  Mumbai
2   Neha   20     78    Pune

In [28]:
df.loc[0:2]

    Name  Age  Marks    City
0    Ali   21     85   Delhi
1  Rohit   25     90  Mumbai
2   Neha   20     78    Pune

## Rows 1 to 4 ‡§î‡§∞ columns Name + City ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã using loc

In [29]:
df.loc[0:4,['Name', 'City']]

    Name    City
0    Ali   Delhi
1  Rohit  Mumbai
2   Neha    Pune
3   Amit   Delhi
4   Sara  Mumbai

## Rows 0 to 3 ‡§î‡§∞ columns Age + Marks ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã using iloc

In [30]:
df.iloc[0:4,1:3]

   Age  Marks
0   21     85
1   25     90
2   20     78
3   23     88

## Rohit ‡§ï‡§æ ‡§™‡•Ç‡§∞‡§æ record ‡§®‡§ø‡§ï‡§æ‡§≤‡•ã (loc based)

In [37]:
df2=df.set_index("Name")
df2
df2.loc["Rohit"]

Age          25
Marks        90
City     Mumbai
Name: Rohit, dtype: object