<a href="https://colab.research.google.com/github/Avinashvns/pandas_practice/blob/main/Pandas_Practice/Filtering_Sorting_dataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Ali", "Rohit", "Neha", "Amit", "Sara"],
    "Age": [21, 25, 20, 23, 22],
    "Marks": [85, 90, 78, 88, 95],
    "City": ["Delhi", "Mumbai", "Pune", "Delhi", "Mumbai"]
})
print(df)

    Name  Age  Marks    City
0    Ali   21     85   Delhi
1  Rohit   25     90  Mumbai
2   Neha   20     78    Pune
3   Amit   23     88   Delhi
4   Sara   22     95  Mumbai

## Filtering

In [3]:
# ✅ Marks > 85 वाले students निकालो

df[df["Marks"] > 85]

    Name  Age  Marks    City
1  Rohit   25     90  Mumbai
3   Amit   23     88   Delhi
4   Sara   22     95  Mumbai

# ✅ City = Delhi वाले students

In [4]:
df[df["City"] == "Delhi"]

   Name  Age  Marks   City
0   Ali   21     85  Delhi
3  Amit   23     88  Delhi

# 2️⃣ Multiple Conditions Filtering (Real Analyst Work)

 ## Mumbai AND Marks > 90

In [5]:
df[(df["City"] == "Mumbai" ) & (df["Marks"] > 90)]

   Name  Age  Marks    City
4  Sara   22     95  Mumbai

## ✅ Age < 23 OR Marks > 90

In [6]:
df[(df["Age"] < 23) | (df["Marks"] > 90)]

   Name  Age  Marks    City
0   Ali   21     85   Delhi
2  Neha   20     78    Pune
4  Sara   22     95  Mumbai

# 3️⃣ Sorting Data (Very Common)

## ✅ Marks के हिसाब से sort करो

In [7]:
df.sort_values("Marks")

    Name  Age  Marks    City
2   Neha   20     78    Pune
0    Ali   21     85   Delhi
3   Amit   23     88   Delhi
1  Rohit   25     90  Mumbai
4   Sara   22     95  Mumbai

## ✅ Descending order

In [8]:
df.sort_values("Marks" ,ascending=False)

    Name  Age  Marks    City
4   Sara   22     95  Mumbai
1  Rohit   25     90  Mumbai
3   Amit   23     88   Delhi
0    Ali   21     85   Delhi
2   Neha   20     78    Pune

# 4️⃣ Missing Values Handling (Data Cleaning)

In [10]:
df2 = pd.DataFrame({
    "Name": ["Ali", "Rohit", "Neha"],
    "Marks": [85, None, 78]
})
df2

    Name  Marks
0    Ali   85.0
1  Rohit    NaN
2   Neha   78.0

## ✅ Check null values

In [11]:
df2.isnull().sum()

Name     0
Marks    1
dtype: int64

## ✅ Fill missing values

In [13]:
df2["Marks"]=df2["Marks"].fillna(df2["Marks"].mean())
df2

    Name  Marks
0    Ali   85.0
1  Rohit   81.5
2   Neha   78.0

## ✅ Drop missing rows

In [14]:
df2.dropna()

    Name  Marks
0    Ali   85.0
1  Rohit   81.5
2   Neha   78.0

# 5️⃣ Duplicate Data Remove

In [15]:
df3 = pd.DataFrame({
    "Name": ["Ali", "Ali", "Rohit"],
    "Marks": [85, 85, 90]
})

df3.drop_duplicates()

    Name  Marks
0    Ali     85
2  Rohit     90