<a href="https://colab.research.google.com/github/Avinashvns/pandas_practice/blob/main/Pandas_Practice/pandas_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [1]:
import pandas as pd
marks=pd.Series([80,90,75,88])
print(marks)

0    80
1    90
2    75
3    88
dtype: int64

# Column with Name Series

In [3]:
import pandas as pd
marks=pd.Series([80,90,75,88], index=["A", "B" ,"C","D"])
print(marks)

A    80
B    90
C    75
D    88
dtype: int64

# Dataframe
 rows + column = table

In [6]:
import pandas as pd

data={
    "age" :[20,22,25,30],
    "marks" : [40,50,60,70]
}

df=pd.DataFrame(data)
df

   age  marks
0   20     40
1   22     50
2   25     60
3   30     70

## With Name , Marks  and city

In [22]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Ali", "Rohit", "Neha"],
    "Marks": [85, 90, 78],
    "City": ["Delhi", "Mumbai", "Pune"]
},index=["s1","s2","s3"])

# df["Name"]
df.shape

(3, 3)

In [24]:
df.head()

     Name  Marks    City
s1    Ali     85   Delhi
s2  Rohit     90  Mumbai
s3   Neha     78    Pune

In [26]:
df.index

Index(['s1', 's2', 's3'], dtype='object')

In [27]:
df.reset_index()

  index   Name  Marks    City
0    s1    Ali     85   Delhi
1    s2  Rohit     90  Mumbai
2    s3   Neha     78    Pune

In [28]:
df.columns

Index(['Name', 'Marks', 'City'], dtype='object')

In [29]:
df.describe()

           Marks
count   3.000000
mean   84.333333
std     6.027714
min    78.000000
25%    81.500000
50%    85.000000
75%    87.500000
max    90.000000